body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
}

header {
    background: #ff3131;
    color: white;
    padding: 20px;
}

.container {
    margin-top: 40px;
}

input {
    padding: 12px;
    width: 250px;
    border: 2px solid #333;
    border-radius: 8px;
}

button {
    padding: 12px 20px;
    background: #ff3131;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background: #cc0000;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background: #222;
    color: white;
}
